#{extends 'main.html' /}
#{set title:'Linda Jump' /}
<style>
    #myCanvas {
        border: 1px solid #9C9898;
    }
</style>


    <h1>Linda Jump</h1>
    <canvas id='c'></canvas>


<!-- <script src="js/file2.js"></script>
<script src="js/file1.js"></script> -->
<script src="@{'/public/javascripts/modules/globals.js'}"></script>
<script src="@{'/public/javascripts/modules/world.js'}"></script>
<script src="@{'/public/javascripts/modules/objects/Player.js'}"></script>
<script src="@{'/public/javascripts/modules/objects/Platform.js'}"></script>
<script src="@{'/public/javascripts/modules/helper/Key.js'}"></script>
<script src="@{'/public/javascripts/game.js'}"></script>



