<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap-responsive.min.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.min.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/Prototype.js'}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
    <div class="container">
        #{doLayout /}
            <div class="footer">

                <a href="https://www.twitter.com/benjaminontwitt" onclick="window.open(this.href); return false;" title="Follow me on Twitter">
                    Twitter
                </a>
                &nbsp;<img class="point" src="@{'/public/images/point.png'}"  alt="" title="" />&nbsp;
                <a href="https://github.com/rodneyrd" onclick="window.open(this.href); return false;" title="Follow me on Github">
                    Github
                </a>
                &nbsp;<img class="point" src="@{'/public/images/point.png'}"  alt="" title="" />&nbsp;
                <a href="http://fr.linkedin.com/in/benjaminbouvier29" onclick="window.open(this.href); return false;" title="Follow me on Linkedin">
                    Linkedin
                </a>
                &nbsp;<img class="point" src="@{'/public/images/point.png'}"  alt="" title="" />&nbsp;
                <a href="mailto:contact@benjaminbouvier.com"  title="Contact Me">
                    Contact Me
                </a>   <br />

                <p>&copy; <a href="http://www.benjaminbouvier.com/resume" onclick="window.open(this.href); return false;" class="no-style"  title="Contact Me">Benjamin Bouvier</a> 2012</p>
            </div>


    </div>




    </body>
</html>

